<mat-card class="card-frame min-width" fxLayout="column" >
  <mat-card-header fxFlex="100">
    <i *ngIf="showMore" class="fa fa-user fa-4x center"></i>
  </mat-card-header>
  <form (ngSubmit)="loginButtonClicked(username.value, password.value)" [formGroup]="loginForm">
    <mat-card-content >
      <mat-form-field class="input-full-width">
        <input #username matInput placeholder="Username" formControlName="email">
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input #password type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input #repeatPassword type="password" matInput placeholder="Repeat Password" formControlName="repeatPassword">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="middle">
      <button type="submit" mat-raised-button color="primary">Login</button>
      <button *ngIf="showMore" mat-raised-button color="accent">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
