<mat-card class="card-frame min-width" fxLayout="column" >
  <mat-card-header fxFlex="100">
    <i *ngIf="showMore" class="fa fa-user fa-4x center"></i>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form center">
      <mat-form-field class="input-full-width">
        <input #username matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input #password type="password" matInput placeholder="Password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="middle">

    <button mat-raised-button (click)="loginButtonClicked(username.value, password.value)" color="primary">Login</button>
    <button *ngIf="showMore" mat-raised-button color="accent">Cancel</button>

  </mat-card-actions>
</mat-card>
