
<mat-card fxLayout="column" class="card-frame">
  <mat-card-header>
    <mat-card-title>
      Sign Up
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="signUpForm" (submit)="signUp()" novalidate fxLayout="column">
      <mat-form-field fxFlex>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email.invalid">
          {{getEmailError()}}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="password.invalid">
          {{getPasswordError()}}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="Repeat Password" formControlName="repeatPassword">
        <mat-error *ngIf="repeatPassword.invalid">
          {{getRepeatPasswordError()}}
        </mat-error>
      </mat-form-field>
    </form>
    <div fxLayoutAlign="center">
    <button mat-raised-button type="submit" color="primary">
      Sign Up
    </button>
    <button mat-raised-button fxFlexOffset="20px" color="accent" (click)="goToLogin()">
      Back to Login
    </button>
    </div>
  </mat-card-content>
</mat-card>
