<div fxLayout="row" fxLayoutAlign="center">
<mat-card fxFlex="80">
  <mat-card-header>
    <img mat-card-avatar="" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-title>
      Username here
    </mat-card-title>
    <mat-card-subtitle>
      Email here
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="Username">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="First Name">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="Middle Name">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="Last Name">
    </mat-form-field>
  </mat-card-content>
</mat-card>
</div>
