<mat-sidenav-container class="example-container">
  <mat-sidenav class="side-nav" mode="side" [opened]="showNav">
    <mat-nav-list>
      <a mat-list-item routerLink="/login">
        <dbw-margin-icon [icon]="'sync'"></dbw-margin-icon>
        Login
      </a>
      <a mat-list-item routerLink="/files">
        <dbw-margin-icon [icon]="'folder'"></dbw-margin-icon>
        Files
      </a>
      <a mat-list-item routerLink="/profile">
        <dbw-margin-icon [icon]="'person'"></dbw-margin-icon>
        Profile
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-nav">
    <dbw-toolbar (navToggle)="toggleNav()"></dbw-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


